<section >

  <div class="row">

    <div class="col " style="background-color:white;">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li>NM-4000P</li>
          </ul>
      </div>
  </div>

</section>
  <h2>TOURMANIUM WATCH</h2>
   <div id="content">
      <figure class="figure">
          <img src="../../assets/tourmanium_watch.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <h1> Product Details</h1>
<article>
<p>Consists of two different sizes, for Gents and for Ladies. The watch face mechanism itself is by 'KAPPA' and the main
  feature is the watch strap which is made of 'NUGA BEST' special nano ceramic Tourmanium. Specially designed Tourmanium
  ceramics are put together in to a bracelet strap and provides many health benefits from the FIR and Anions which are emitted
  by Tourmanium to the wearer.
</p>
<p>The key benefits include improvement of blood circulation to the hand, for those who suffer from numbness,
  frequent pins and needles and cold hands will see dramatic improvements. Warmth returning to the hand to the body.
</p>
</article>
<article>
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Product Features
        </div>
        <div class="card-body">
          <h6>CONTROL</h6>
          <p>NM-80 Control pad sets temperature conveniently with an easy dial control.</p>
          <p>The temperature can be set between 30 to 70 degrees and the NM-80 automatically switches off
            after 8 Hours of continual use for safety purposes.
          </p>
          <hr>
          <h6>FAR INFRARED RAYS(FIR)</h6>
          <p>FIR is emitted from the Sun and from our human body in nature. FIR is non-invasive, but reaches deep into
            the nerves and muscles, providing deep heat therapy and many other health benefits.
          </p>
          <p>It boosts the body's healing ability by increasing the metabolism and immune system, helping to detoxify the blood
            and also promotes weight loss.
          </p>
          <hr>
          <h6>ANIONS</h6>
          <p>Anions are the negatively charged Ions which are abundant in nature, such places include mountains,
            forests and under waterfalls.
          </p>
          <p>Anions help to relax, refresh and rejuvenate the human body.</p>
          <p>It helps you to recover faster from exhaustion and fatigue, calm the mind and normalizes the body.</p>
          </div>
          </div>
</article>

   </div>











