<section > 
  
  <div class="row">
   
    <div class="col " style="background-color:white;">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li>NM-4000P</li>
          </ul>
      </div>
  </div>

</section>
  <h2>NM-4000P</h2>
  <h5>All-in-One Theraupeutic Medical Equipment</h5>
   <div id="content">
      <figure class="figure">
          <img src="../../assets/NM-4000P.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <h1> Product Details</h1>
<article>  
<ul >
  <li>Model License NO. : 02-831</li>
  <li>Size: 2020(W) *720(D) *560(H)</li>
  <li>Weight: Gross 79kg / Net 72kg</li>
  <li>Rated Electric Flow : AC 220V / 50Hz</li>
  <li>Power Consumption : 250W</li>
</ul>
</article>

<article>
  <p>
    <p>Personal heater integrating the spine rolling & acupressure and heating functions into a single unit.</p>
    <p>Energetic start and comfortable finish of a day
    Spine rolling & acupressure and heating functions integrated into a single unit!
    NM-4000P, the personal heater</p>  
    <p>The updated features of the NM-4000P are detailed below.</p>

    <h6>TOURMANIUM INTERNAL PROJECTOR</h6>
    <p>The Internal Projector moves smoothly along the spinal contour, providing Chu'Na therapy, Acupreesure, Massage, Deep Heat
    and Moxibustion as well as Far Infrared Ray and Anion therapies. The rollers gently expnad the spinal column to correct posture 
    and relieve abnormal pressure.</p>
    <ul>
    <li>The Internal Projector Rollers have been upgraded to our patented Tourmanium Ceramic whereas the previous model utilised Jade Stones,
    this increases the emittance of FIR and Anions 4 fold.</li>
    <li>The diameter of the Roller has been enlarged to increase the Moxibustion effects to the Spinal Contour.</li>
    </ul>

  <h6>TOURMANIUM HEAT MAT </h6>
    <p>A specially created auxiliary mat with Tourmanium ceramic provides the user with acupressure
      sensations, deep heat, FIR and Anions.
    </p>
    <ul>
    <li>Mat size has been increased from the previous model with 14 additional Tourmanium ceramics added.</li>
    </ul>

    <h6>TOURMANIUM HEAT MAT </h6>
    <p>A specially created auxiliary mat with Tourmanium ceramic provides the user with acupressure
      sensations, deep heat, FIR and Anions.
    </p>

    <h6>TOURMANIUM HEAT MAT </h6>
    <p>A specially created auxiliary mat with Tourmanium ceramic provides the user with acupressure
      sensations, deep heat, FIR and Anions.
    </p>
</article>
    
   </div>





      
    

  


