<section >

  <div class="row">

    <div class="col " style="background-color:white;">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li>NM-4000P</li>
          </ul>
      </div>
  </div>

</section>
  <h2>NM-2500D</h2>
  <h5>Tourmanium Heat Mattress Double Size</h5>
   <div id="content">
      <figure class="figure">
          <img src="../../assets/NM-2500D.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <h1> Product Details</h1>
<article>
<ul >
  <li>Model License NO. : 05-232/233</li>
  <li>Size: 1900(W) *1500(D) *40(H)</li>
  <li>Weight/Package: 20kg/ 1set</li>
  <li>Rated Electric Flow : AC 220V / 60Hz</li>
  <li>Power Consumption : 600W</li>
</ul>
</article>

<article>
 <p>NM-2500D is a Double Sized Tourmanium Heat Mattress, popular family product. It can be used in
 various ways, on top of the double/queen size bed or on the floor in the living room area for all family members
 to enjoy the warmth and the health benefits.</p>
 <p>NM-2500D is construted using the special nano ceramic 'Tourmanium' with the enhanced sleep technology, enabling
 comfort and deep sleep. NM-2500D is different from heat mats available by other manufacturers, using the patented
 nano ceramic of Nuga Best, it provides not only deep heat but other beneficials such as FIR and Anions.
 Also it is specially designed to block any harmful Electro-magnetic waves and the water strata effects.</p>
 <p>Tourmanium acts as the heat conducting element and also its shape provides acupressure sensations to the users.
 </p>
    <div class="card card-outline-secondary my-4">
      <div class="card-header">
        Product Features
      </div>
      <div class="card-body">
      <h6>DUAL CONTROL</h6>
      <p>NM-2500D Control pad can set two different temperatures and time settings for two individuals using the Heat Mattress.
      The temperature can be set between 30 to 70 degrees and the time duration of 3H, 6H and 12H. NM-2500D automatically
      switches off when the set time is up.</p>
      <hr>
      <h6>FAR INFRARED RAYS(FIR)</h6>
      <p>FIR is emitted from the Sun and from our human body in nature. FIR is non-invasive, but reaches deep into the nerves and
      muscles, providing deep heat therapy and many other health benefits. </p>
      <p>It boosts the body's healing ability by increasing the metabolism and immune system, helping to detoxify
        the blood and also promotes weight loss.
      </p>
      <hr>
      <h6>ANIONS</h6>
      <p>Anions are the negatively charged Ions which are abundantly in nature, such places include mountains, forests,
        and under waterfalls.
      </p>
      <p>Anions help to relax, refresh and rejuvenate the human body.</p>
      <p>It helps you to recover faster from exhaustion and fatigue, calm the mind and normalizes the body.</p>
      <hr>
      <h6>DEEP HEAT</h6>
      <p>Widely used in physio & sports therapies. Its therapeutic effects include: relief of joint stiffness and pain,
        inflammation reduction, muscle relaxation and improvement of blood circulation.
      </p>
      <p>It also boosts the recovery process from athletic injuries, fatigue and tiredness.</p>
      <hr>
      <h6>ACUPRESSURE</h6>
      <p>Complementary technique developed from Acupuncture.</p>
      <p>Acupressure uses finger pressure to stimulate meridian paths to relax the muscles, removes bodily disfunctions
        which cause pains in the body.
      </p>
      <p>It is an stimulation which is widely used in therapies and also in martial arts.</p>
      </div>
      </div>
</article>

   </div>











