<section > 
  
  <div class="row">
   
    <div class="col " style="background-color:white;">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li>NM-4000P</li>
          </ul>
      </div>
  </div>

</section>
  <h2>NM-2500D</h2>
  <h5>Tourmanium Heat Mattress Double Size</h5>
   <div id="content">
      <figure class="figure">
          <img src="../../assets/NM-2500D.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <h1> Product Details</h1>
<article>  
<ul >
  <li>Model License NO. : 02-831</li>
  <li>Size: 2020(W) *720(D) *560(H)</li>
  <li>Weight: Gross 79kg / Net 72kg</li>
  <li>Rated Electric Flow : AC 220V / 50Hz</li>
  <li>Power Consumption : 250W</li>
</ul>
</article>

<article>
  <p>
    <p>Personal heater integrating the spine rolling & acupressure and heating functions into a single unit.</p>
    <p>Energetic start and comfortable finish of a day
    Spine rolling & acupressure and heating functions integrated into a single unit!
    NM-4000P, the personal heater</p>  
    <p>The updated features of the NM-4000P are detailed below.</p>
</article>
    
   </div>

 



      
    

  


