<div class="container">
  <section>
      <div class="row">
          <div class="col-lg-12">
            <h1>ABOUT US</h1>
            <h4><small>How it all started ...</small></h4>
          </div>
        </div>
  </section>

  <section>
<div class="row">
<div class="col-lg-12 text-center">
   <figure class="figure ">
        <img src="../../assets/about.png" class="figure-img img-fluid rounded"  alt="A generic square placeholder image with rounded corners in a figure.">

      </figure>
</div>
</div>

<div class="row">
  <div class="col-lg-12">
      <div id="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
              <h5 class="mb-0">
                <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   <h6> Who is Nuga Best?</h6>
                </button>
              </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
              <p>
                  The South Korean company Nuga Medical, which produces Nuga Best products, was founded in 2002.
                   At that time there already existed 56 other similar companies in South Korea,
                   but Nuga Medical quickly gained a large customer satisfaction,
                   based primarily on an outstanding technological strength and service.
              </p>
              <p>
                  This has made the company today’s leading company in South Korea within its industry.
                   At the same time the company has been aware of the world’s rapidly changing trends and adapt to these changes.
              </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingTwo">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                   <h6>Company  Philosophy</h6>
                </button>
              </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
           <p>
              To contribute to human health by providing the best service with the best technology, with love.
           </p>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header" id="headingThree">
              <h5 class="mb-0">
                <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h6> Company vision</h6>
                </button>
              </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
              <div class="card-body">
              <p>Nuga Medical has despite years of work with new challenges achieved a remarkable growth and quickly became a global company.
                The company has participated in several research and development projects,
                 and conducted thorough monitoring and management system to ensure 100% customer satisfaction,
                  which is the highest priority. The company has committed itself to continue to develop and endeavor to improve the quality of life for humanity.</p>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>


  </section>


</div>
