<section >

  <div class="row">

    <div class="col " style="background-color:white;">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li>NM-4000P</li>
          </ul>
      </div>
  </div>

</section>
  <h2>NM-2000</h2>
  <h5>Tourmanium 9 + 5 Ball Projector</h5>
   <div id="content">
      <figure class="figure">
          <img src="../../assets/NM-2000.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <h1> Product Details</h1>
<article>
<ul >
  <li>Model License NO. : 09-25</li>
  <li>Size: 400(W) *325(D) *140(H)</li>
  <li>Weight: 6kg / 1set</li>
  <li>Rated Electric Flow : AC 220V / 60Hz</li>
  <li>Power Consumption : 185W</li>
</ul>
</article>
<article>
 <p>NM-2000 is a compact sized thermal medical instrument using Tourmanium Ceramic that releases Far Infrared Rays and Anions.</p>
 <p>Its convenient size makes it very easy to use for localized thermal therapy and ar Infrared Ray treatment.</p>
 <p>This device reads and informs you of the spinal pressure points.</p>
    <div class="card card-outline-secondary my-4">
        <div class="card-header">
          Product Features
        </div>
        <div class="card-body">
          <ul>
            <li>Anions therapy boosts the immune system, increases blood circulation and your metabolism.</li>
            <li>Far Infrared Rays penetrate 7 centimetres beyond the skin removing toxins from the body and also
              promoting the production of white blood cells and neutralisesthe acidity and the pressure of the blood.
            </li>
            <li>Two users can benefit from therml heat therapy at once with the inclusion of 5-Ball Projector and 9-Ball Projector.</li>
          <li>Intergration into one body for easy storage capabilities.</li>
          </ul>
        </div>
        </div>
</article>

   </div>











