<div id="page">
  <header>
    <img class="img-fluid rounded" src="../../assets/logo.png" alt="nuga introduction">

    <app-header></app-header>
  </header>

    <router-outlet></router-outlet>



  <!-- footer -->

   <div class="row">
  <div class="col">
  <footer class="ft"  >

      <div class="row " >
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-3">
            <figure class="figure ">
                <img class="img-fluid rounded ft-img" src="../assets/logo.png" alt="NUGA Logo" />
              </figure>

        </div>
        <div class="col-12 col-xs-12 col-sm-12 col-md-4 col-lg-5 ft-padding" >

    <p class="lead" style="color:white;">P.O. Box 000-0000, Eldoret / Off Uganda Road / Developed by sharbel chris,+254705874680</p>
   <p style="color:white;">Copyright &copy;2018 NUGA BEST ELDORET Co. Ltd. All rights reserved.  </p>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xs-12 ft-padding" style="text-align:center">
              <h4 style="color:white;">Connect With Us</h4>
              <div class="connect">
                  <ul >
                      <li  ><a href><i class="fab fa-twitter fa-2x" ></i></a></li>
                      <li ><a href><i class="fab fa-facebook fa-2x"></i></a></li>
                      <!-- <li><a href><i class="fab fa-google-plus fa-2x"></i></a></li>
                      <li><a href><i class="fab fa-instagram fa-2x"></i></a></li>
                      <li><a href><i class="fab fa-skype fa-2x"></i></a></li> -->
                    </ul>
              </div>

              </div>
      </div>


  </footer>
     </div>
   </div>


  </div>
