<div id="page">
  <header>
    <img class="img-fluid rounded" src="../../assets/logo.png" alt="nuga introduction">

    <app-header></app-header>
  </header>

    <router-outlet></router-outlet>



  <!-- footer -->

   <div class="row">
  <div class="col">
  <footer class="ft">

      <div class="row">
        <div class="col-lg-3">
          <img class="img-fluid rounded ft-img" src="../assets/logo.png" alt="NUGA Logo" />
        </div>
        <div class="col-lg-5" >
   <p style="color:white;">Copyright &copy;2018 NUGA BEST ELDORET Co. Ltd. All rights reserved.  </p>
          </div>
          <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xs-12 social pull-right">
              <h4 style="text-align:center">Connect With Us</h4>
              <div class="connect">
                  <ul >
                      <li  ><a href><i class="fab fa-twitter fa-2x"></i></a></li>
                      <li ><a href><i class="fab fa-facebook fa-2x"></i></a></li>
                      <li><a href><i class="fab fa-google-plus fa-2x"></i></a></li>
                      <li><a href><i class="fab fa-instagram fa-2x"></i></a></li>
                      <li><a href><i class="fab fa-skype fa-2x"></i></a></li>
                    </ul>
              </div>

              </div>
      </div>


  </footer>
     </div>
   </div>


  </div>
