<div id="page">
  <header>
    <img class="img-fluid rounded" src="../../assets/logo.png" alt="nuga introduction">

    <app-header></app-header>
  </header>

    <router-outlet></router-outlet>



  <!-- footer -->

   <div class="row">
  <div class="col">
  <footer class="ft">

      <div class="row">
        <div class="col-lg-3">
          <img class="img-fluid rounded ft-img" src="../assets/logo.png" alt="NUGA Logo" />
        </div>
        <div class="col-lg-5" >
   <p style="color:white;">Copyright &copy;2018 NUGA BEST ELDORET Co. Ltd. All rights reserved.  </p>
          </div>
        <div class="col-lg-4">
            <img class="img-fluid rounded ft-img" src="../assets/facebook.png" alt="NUGA Logo" />
      <img class="img-fluid rounded ft-img" src="../assets/twitter.png" alt="NUGA Logo" />

        </div>
      </div>


  </footer>
     </div>
   </div>


  </div>
