<section >

  <div class="row">

    <div class="col " style="background-color:white;">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li>NM-4000P</li>
          </ul>
      </div>
  </div>

</section>
  <h2>CERVICAL PILLOW</h2>
   <div id="content">
      <figure class="figure">
          <img src="../../assets/cervical_pillow.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <h1> Product Details</h1>
<article>
<p>Traditionally in Korea and other far eastern countries, pillows are not the fluffy goose feather types found in the west.
  Instead, they are hard cylinder shaped bean bag like pillows which gently support the top of the neck. Nowadays, only the
  elderly are the ones who are fond of these pillows, but the design of these pillows serves a specific scientific purpose.
</p>
<p>NUGA BEST's Tourmanium cervical pillow is designed using this age-old concept and gently supports your cervical vertebrae (neck)
  while sleeping, this promotes the correction of the natural curvature of the neck('C' shape) and helps to relieve any pressure
  caused by tense neck muscles and stress.
</p>
<p>It is scientifically known that the best sleeping position for your body (specifically for the spine) is to lie on the back with a gentle
  raise of the head with a rolled up towel at the neck. This posture helps to relieve pressures inflicted on the spinal structure
  during the day and stretches out the muscles, although some people suffering back problems may find this uncomfortable.
</p>
<p>The Tourmanium neck pillow provides this simple support which enhances sleeping quality. Issues such as snoring and interruptions
  during sleep(factors which drain a great deal of energy while sleep) are eased. Providing good quality deep sleep which helps to
  start a fresh and energetic day.
</p>
<p>Also the special Nano Ceramic Tourmanium provides many health benefits by providing Far Infrared Rays and Anions to the body.
  Tourmanium is an all season material, helping to keep cool in summer and warm in winter and primarily improves blood circulation, in
  this case to the head, which enhances brain cell functioning.
</p>
<p>In the first 7 to 10 days of use, it can be uncomfortable for those who are used to soft fluffy pillows, however the long term
  benefits far outweigh this initial discomfort.
</p>
</article>

<article>
   <div class="card card-outline-secondary my-4">
    <div class="card-header">
      Product Features
    </div>
    <div class="card-body">

      <h6>FAR INFRARED RAYS(FIR)</h6>
      <p>FIR is emitted from the Sun and from our human body in nature. FIR is non-invasive, but reaches deep into
        the nerves and muscles, providing deep heat therapy and many other health benefits.
      </p>
      <p>It boosts the body's healing ability by increasing the metabolism and immune system, helping to detoxify the blood
        and also promotes weight loss.
      </p>
      <hr>
      <h6>ANIONS</h6>
      <p>Anions are the negatively charged Ions which are abundant in nature, such places include mountains,
        forests and under waterfalls.
      </p>
      <p>Anions help to relax, refresh and rejuvenate the human body.</p>
      <p>It helps you to recover faster from exhaustion and fatigue, calm the mind and normalizes the body.</p>
      </div>
      </div>
</article>

   </div>










