
<aside>
    <section>
  <div class="container">
  <div class="row">
  <div class="col-12 col-sm-12 col-md-4 col-lg-3" style="background-color:white;">
      <h3>Products</h3>
      
      <ul class="list-group product">
          <li class="nav-item list-group-item"><a class="nav-link" [routerLink]="['NM-4000P']" [routerLinkActive]="['active']">NM-4000P</a></li>
          <li class="nav-item list-group-item"><a class="nav-link" [routerLink]="['NM-2500D']" [routerLinkActive]="['active']">NM-2500D</a></li>
          <li class="nav-item list-group-item"><a class="nav-link" [routerLink]="['NM-2500S']" [routerLinkActive]="['active']">NM-2500S</a></li>
          <li class="nav-item list-group-item"><a class="nav-link" [routerLink]="['NM-2000']" [routerLinkActive]="['active']">NM-2000</a></li>
          <li class="nav-item list-group-item"><a class="nav-link" [routerLink]="['NM-90']" [routerLinkActive]="['active']">NM-90</a></li>
          <li class="nav-item list-group-item"><a class="nav-link" [routerLink]="['NM-80']" [routerLinkActive]="['active']">NM-80</a></li>
          <li class="nav-item list-group-item"><a class="nav-link" [routerLink]="['Cervical-Pillow']" [routerLinkActive]="['active']">CERVICAL PILLOW</a></li>
          <li class="nav-item list-group-item"><a class="nav-link" [routerLink]="['Tourmanium-Stones']" [routerLinkActive]="['active']">TOURMANIUM STONES</a></li>
          <li class="nav-item list-group-item"><a class="nav-link" [routerLink]="['Tourmanium-Watch']" [routerLinkActive]="['active']">TOURMANIUM WATCH</a></li>
          <li class="nav-item list-group-item"><a class="nav-link" [routerLink]="['Tourmanium-Bracelet']" [routerLinkActive]="['active']">TOURMANIUM BRACELET</a></li>
        </ul>

      <!-- <ul class="product">
          <li class="nav-item"><a class="nav-link" [routerLink]="['NM-4000P']" [routerLinkActive]="['active']">NM-4000P</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['NM-2500D']" [routerLinkActive]="['active']">NM-2500D</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['NM-2500S']" [routerLinkActive]="['active']">NM-2500S</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['NM-2000']" [routerLinkActive]="['active']">NM-2000</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['NM-90']" [routerLinkActive]="['active']">NM-90</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['NM-80']" [routerLinkActive]="['active']">NM-80</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['Cervical-Pillow']" [routerLinkActive]="['active']">CERVICAL PILLOW</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['Tourmanium-Stones']" [routerLinkActive]="['active']">TOURMANIUM STONES</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['Tourmanium-Watch']" [routerLinkActive]="['active']">TOURMANIUM WATCH</a></li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['Tourmanium-Bracelet']" [routerLinkActive]="['active']">TOURMANIUM BRACELET</a></li>
      </ul> -->
  </div>
  
  <div class="col-12 col-sm-12 col-md-8 col-lg-9" style="background-color:white;">
    <router-outlet></router-outlet> 

  </div>
  
  </div>
  </div>
   
    </section>
  </aside>

