<section >

  <div class="row">

    <div class="col " style="background-color:white;">
        <ul class="breadcrumb">
            <li>
                <a [routerLink]="['/']" >Home</a>
              </li>
              <li>
                <a [routerLink]="['/product']" >Product</a>
              </li>
            <li>TOURMANIUM STONES</li>
          </ul>
      </div>
  </div>

</section>
  <h2>TOURMANIUM STONES</h2>
   <div id="content">
      <figure class="figure">
          <img src="../../assets/tourmanium_stone.png" class="figure-img img-fluid rounded" alt="pic">

        </figure>
        <h1> Product Details</h1>
<article>
<p>The Tourmanium stone is composed of the semi-precious stone Tourmaline, Germanium, volcanic rock, and elvan rock.</p>
<p> When the Tourmanium stone turned on, it emit the warm heat of Far-Infrared Rays deep into the body,stimulating blood circulation and cell activity in the exposed body area. </p>
<p>The Tourmanium stone also naturally emit healthy Anions due to its Tourmaline and Germanium composition.</p>
<p>
    Environment-friendly / human-friendly materials used ,The special copper fiber with high corrosion and shatter resistance shields electromagnetic waves, and the natural palm used inhibits mat deformation and gives antifungal, mothproof, moisture-proof and deodorant effects.</p>
</article>

<article>

    <article>
        <div class="card card-outline-secondary my-4">
            <div class="card-header">
              Product Features
            </div>
            <div class="card-body">
                <table class="table">
                    <tbody>
                        <tr>
                            <td><img src="../../assets/FIR.jpg" class="rounded float-left" alt="pic"></td>
                            <td>
                                <h6>FAR INFRARED RAYS(FIR)</h6>
                                <p>FIR is emitted from the Sun and from our human body in nature. FIR is non-invasive, but reaches deep into
                                  the nerves and muscles, providing deep heat therapy and many other health benefits.
                                </p>
                                <p>It boosts the body's healing ability by increasing the metabolism and immune system, helping to detoxify the blood
                                  and also promotes weight loss.
                                </p>

                            </td>
                          </tr>

                          <tr>
                              <td><img src="../../assets/anions.jpg" class="rounded float-left" alt="pic"></td>
                              <td>
                                  <h6>ANIONS</h6>
                                  <p>Anions are the negatively charged Ions which are abundant in nature, such places include mountains,
                                    forests and under waterfalls.
                                  </p>
                                  <p>Anions help to relax, refresh and rejuvenate the human body.</p>
                                  <p>It helps you to recover faster from exhaustion and fatigue, calm the mind and normalizes the body.</p>
                              </td>
                            </tr>
                    </tbody>
                    </table>
                          </div>
              </div>
</article>













