 <!-- Page Content -->


  <!-- Heading Row -->

    <div class="col-lg-12">
      <img class="img-fluid rounded img-intro"  src="../../assets/nugaIntro.png" alt="nuga introduction">
    </div>
    <!-- /.col-lg-12 -->
<section id="home_intro">
    <div class="row">
        <div class="col-lg-12 ">
              <p class="text-center" id="header_text"><span style="color:rgba(8, 8, 168, 0.904); font-weight:900;">NUGA BEST ELDORET </span> - <span style="color:rgba(221, 0, 37, 0.904); font-weight:900;">HEALTH | LOVE | SERVICE </span></p>

        </div>
      </div>

    <div class="container">
      <div class="row">

        <div class="col-lg-4">
          <h6>Our Products</h6>
          <ul class="list-group " id="home_products_list">
              <li class="list-group-item">
                <div class="home_products"><img src="../../assets/NM-4000P_50x50.png"   class="rounded float-left" alt="pic"></div>
                <div class=" home_products_text">
                    <a [routerLink]="['/product/NM-4000P']" >NM-4000P</a>
                </div>
              </li>
              <li class="list-group-item">
                <div class="home_products"><img src="../../assets/NM-2500D_small.png"  class="rounded float-left" alt="pic"></div>
                <div class=" home_products_text">
                    <a [routerLink]="['/product/NM-2500D']" >NM-2500D</a>
                </div>
              </li>
              <li class="list-group-item">
                  <div class="home_products"><img src="../../assets/NM-90_small.png"  class="rounded float-left" alt="pic"></div>
                  <div class=" home_products_text">
                      <a [routerLink]="['/product/NM-90']" >NM-90</a>
                  </div>
              </li>
              <li class="list-group-item">

                  <div class="home_products_more">
                      <a [routerLink]="['/product']" >More Products >></a>
                  </div>
              </li>

            </ul>
        </div>
        <div class="col-lg-4">
            <h6>About Us</h6>
            <h5 id="title1" class="card-title"><span style="color:rgba(8, 8, 168, 0.904); font-weight:900;">MEET US IN </span><span style="color:rgba(8, 8, 168, 0.904); font-weight:900;">ELDORET TOWN</span></h5>
            <p>In <span style="color:black; font-weight:700;">ELDORET TOWN </span>Nuga Medical is represented through the company <span style="color:black; font-weight:700;">NUGA BEST ELDORET</span>.
                You are always welcome to contact us for more information, or by appointment to visit us,
                where you can get more information and see and try the products for free and without any obligations.
                 It is an important element of Nuga Medical for everyone to be able to try their products before any purchase.</p>
                 <hr>
                 <p>Likewise, we participate several times a year in various exhibitions in <span style="color:black; font-weight:700;">UASIN GISHU COUNTY</span> where it is also possible to visit us and try most of Nuga Best products.
                   On this site we will post where you can meet us next.</p>
        </div>
        <div class="col-lg-4">
            <figure class="figure">
                <img src="../../assets/100-satisfaction-guaranteed3.png" class="figure-img img-fluid rounded float-left" alt="pic">
              </figure>
            <h6>FREE TRIALS</h6>
            <p> INDUCTION provided for New Customers </p>
            <p>Week days Monday to Friday 7:30 am - 5:pm </p>
            <p>Saturday 7:30 am - 12 noon EAT</p>

            <h6>CUSTOMER CARE</h6>
            <p>inquiry contact :  +254705 263757</p>

            <h6>OPENING HOURS</h6>
            <p>Week days Monday to Friday 6:00 am - 5:pm </p>
            <p>Saturday 6:00 am - 12 noon EAT</p>
  
        </div>


      </div>

  </div>

</section>


