 <!-- Page Content -->


  <!-- Heading Row -->

    <div class="col-lg-12">
      <img class="img-fluid rounded img-intro" src="../../assets/nugaIntro.png" alt="nuga introduction">
    </div>
    <!-- /.col-lg-12 -->
<section id="home_intro">
    <div class="container">

      <div class="row">

<div class="col-lg-12">
              <div class="card ">
                  <div class="card-body">
                      <p> <span id="span1">NUGA BEST</span> is a company that values human the most on the basis of health, love and service.</p>
                  </div>
                </div>




    <div class="card ">
                    <div class="card-body">
                        <h5 id="title1" class="card-title">MEET US IN <span id="span2">ELDORET TOWN</span></h5>
                        <p>In ELDORET TOWN Nuga Medical is represented through the company NUGABEST ELDORET.
                            You are always welcome to contact us for more information, or by appointment to visit us,
                            where you can get more information and see and try the products for free and without any obligations.
                             It is an important element of Nuga Medical for everyone to be able to try their products before any purchase.</p>
                             <hr>
                             <p>Likewise, we participate several times a year in various exhibitions in UASIN GISHU COUNTY where it is also possible to visit us and try most of Nuga Best products.
                               On this site we will post where you can meet us next.</p>
                    </div>
                  </div>


        </div>
      </div>
      <div class="row home-last">
        <div class="col-lg-4">
   <h6>CUSTOMER CARE</h6>
   <p>inquiry contact : +25407012345678</p>
        </div>
        <div class="col-lg-2">

         <figure class="figure">
            <img src="../../assets/100-satisfaction-guaranteed3.png" class="figure-img img-fluid rounded float-left" alt="A generic square placeholder image with rounded corners in a figure.">

          </figure>
          </div>
          <div class="col-lg-6">
             <h6>FREE TRIALS</h6>
             <p> INDUCTION provided for New Customers </p>
             <p>From Mon - Sat 10am  </p>
            </div>
      </div>
  </div>

</section>


