 <!-- Page Content -->


  <!-- Heading Row -->

    <div class="col-lg-12">
      <img class="img-fluid rounded img-intro" src="../../assets/nugaIntro.png" alt="nuga introduction">
    </div>
    <!-- /.col-lg-12 -->
<section id="home_intro">
    <div class="container">
      <div class="row">

          <div class="col-lg-8">
              <p>NUGA BEST is a company that values human the most on the basis of health, love and service.</p>

              <h1><small>Meet us in ELDORET TOWN </small></h1>
              <p>In ELDORET TOWN Nuga Medical is represented through the company NUGABEST ELDORET.
                You are always welcome to contact us for more information, or by appointment to visit us,
                where you can get more information and see and try the products for free and without any obligations.
                 It is an important element of Nuga Medical for everyone to be able to try their products before any purchase.</p>
                 <hr>
                 <p>Likewise, we participate several times a year in various exhibitions in UASIN GISHU COUNTY where it is also possible to visit us and try most of Nuga Best products.
                   On this site we will post where you can meet us next.</p>
        </div>
        <!-- ./-col-lg-8 -->

        <div class="col-lg-4">
          <h6>CONTACT US</h6>
            <address>
                <p> <strong>MAIL :</strong><a href="mailto:homer@example.org">
                homer@example.org</a></p>
                <p><strong>ADDRESS :</strong>P.O.BOX 000-0000,ELDORET</p>
                <p><strong>PHONE :</strong> 07123456789</p>
                </address>
        </div>
             <!-- ./-col-lg-4 -->

      </div>
  </div>

</section>


