<section >

  <div class="row">

    <div class="col " style="background-color:white;">
        <ul class="breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Product</a></li>
            <li>NM-4000P</li>
          </ul>
      </div>
  </div>

</section>
  <h2>NM-90</h2>
  <h5> Tourmanium Heat Belt</h5>
   <div id="content">
      <figure class="figure">
          <img src="../../assets/NM-90.png" class="figure-img img-fluid rounded" alt="A generic square placeholder image with rounded corners in a figure.">
          <figcaption class="figure-caption">A caption for the above image.</figcaption>
        </figure>
        <h1> Product Details</h1>
<article>
<ul >
  <li>Size: 1360(W) *300(D) *50(H)</li>
  <li>Weight: 3kg / 1set </li>
  <li>Rated Electric Flow : AC 230V / 50Hz</li>
  <li>Power Consumption : MAX 155W</li>
</ul>
</article>
<article>
 <p>NM-90 is a Tourmanium Heat Belt, popular product for ladies who suffer cold stomach and also
   for those with IBS, frequent stomach ache,indigestion and periodic pains.
 </p>
 <p>NM-90 can be used in various ways, its is very flexible and can be lied upon and also
   wrapped around the body such as waist, back, shoulders and legs.
 </p>
 <p>NM-90 provides warmth and the heealth benefits to the areas it is placed on.</p>
 <p>NM-90 is constructed using the special nano ceramic 'Tourmanium' which, enables comfort with deep heat and
   provide improvement of blood circulation.
 </p>
 <p>NM-90 is different from heat belts available by other manufacturers, using the patented nano ceramic
   of NUGA BEST, it provides not only deep heat but other health beneficials such as FIR and Anions.
 </p>
 <p>Also it is specially designed to block any harmful Electro-magnetic waves and the water strata effects.</p>
 <p>Tourmanium acts as the heat conducting element and also its shape provides acupressure sensations to the users.</p>
 <div class="card card-outline-secondary my-4">
    <div class="card-header">
      Product Features
    </div>
    <div class="card-body">
      <h6>CONTROL</h6>
      <p>NM-90 Control pad sets temperature conveniently with an easy dial control.</p>
      <p>The temperature can be set between 30 to 70 degrees and the NM-75 automatically switches off after 8
        Hours of continual use for safety purposes.
      </p>
      <hr>
      <h6>FAR INFRARED RAYS(FIR)</h6>
      <p>FIR is emitted from the Sun and from our human body in nature. FIR is non-invasive, but reaches deep into
        the nerves and muscles, providing deep heat therapy and many other health benefits.
      </p>
      <p>It boosts the body's healing ability by increasing the metabolism and immune system, helping to detoxify the blood
        and also promotes weight loss.
      </p>
      <hr>
      <h6>ANIONS</h6>
      <p>Anions are the negatively charged Ions which are abundant in nature, such places include mountains,
        forests and under waterfalls.
      </p>
      <p>Anions help to relax, refresh and rejuvenate the human body.</p>
      <p>It helps you to recover faster from exhaustion and fatigue, calm the mind and normalizes the body.</p>
      <hr>
      <h6>DEEP HEAT</h6>
      <p>Widely used in physio & sports therapies. Its therapeutic effects include: relief of joint
        stiffness and pain, inflammation reduction, muscle relaxation and improvement of blood circulation.
      </p>
      <p>It also boosts the recovery process from athletic injuries, fatigue and tiredness.</p>
      <hr>
      <h6>ACUPRESSURE</h6>
      <p>Complementary technique developed from Acupuncture.</p>
      <p>Acupressure uses finger pressure to stimulate meridian paths to relax the muscles, removes bodily
        disfunctions which cause pains in the body.
      </p>
      <p>It is an stimulation which is widely used in therapies and also in marital arts.</p>
      </div>
      </div>

</article>

   </div>









